
/* area setup */
#wrapper{
	font-family:Verdana;
	font-size:13px;
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgb(220,237,254);
	background-repeat:no-repeat;
}


#content {
	position:relative;
	margin: 0 auto;
	width:1150px;
	height:auto;
	height:100%;
	background-color: #e7e7e7;
	border-left: 1px double black;
	border-right: 1px double black;
}


/* main image */

#t_img{
	top:0px;
	left:0px;
}

/* top menu */
#t_menu{
	padding-top:20px;
}
#t_menu ul{
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	overflow:hidden;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	width:265px;

}

#t_menu li {
	float:left;
	margin-left:0px;
}

#t_menu a:link,a:visited {
	display:block;
	width:120px;
	font-weight:bold;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	color:black;
}

#t_menu a:hover{
	background-color:white;
	color:black;
}

#t_menu a:active{
}

#t_menu a.current{
	display:block;
	width:120px;
	font-weight:bold;
	padding:4px;
	text-transform:uppercase;
}

/* sub menu */

#s_menu{
	padding-top:20px;
}

body {font:12px Verdana, Arial, Helvetica}
* {padding:0; margin:0}

#toptitle {
	position: absolute;
	height: 100px;
	width: 600px;
	top: 8px;
	left: -230px;
	background-color: #595959;
}

/*Map*/
#body{
	position:absolute;
	top:131px;
	left:-250px;
	padding: 20px 20px 20px 20px;
}

#placeholder{
	position:absolute;
	top:40px;
	left:50px;
	background-color: #e7e7e7;
}
#graphstorage{
	position: absolute;
	left: 690px;
	top:150px;
	width: 700px;
	height:631px;
	background-color: #c1c1c1;
}

#mainbuttons{
	position:absolute;

	height:22px;
	width: 375px;
	top:350px;
	left:0px;
}
#mainbuttons input{
	margin-left:50px;
}

#buttonset1{
	position: absolute;
	top:600px;
	left:570px;
}

#buttonset2{
	position: absolute;
	top:350px;
	left:380px;
}

#infobox{
	position: absolute;
	height:200px;
	width:600px;
	top:380px;
	left:50px;
	background-color: #e7e7e7;
	border: 1px solid black;
}
/* startup page styling*/

#start_content{
	background-color:rgb(246,245,239);
	position:relative;
	margin: 0 auto;
	width:900px;
	height:auto;
	height:900px;
}
#starterimg{
	position:absolute;
	top:0px;
	left:100px;
}
#producer{
	position:absolute;
	top: 600px;
	left: 300px;
}
#clicktitle{
	position: absolute;
	top: 100px;
	left: 300px;
}
#title {
	position: absolute;
	width: 540px;
	height: 85px;
	top: 15px;
	left: -200px;
	z-index: 1;
}
#title h1{
	position: absolute;
	left: 145px;
	top: 20px;
}

#footer {
	position: absolute;
	float: right;
	bottom: 0;
	height: 120px;
	width: 1600px;
	background-color: #c1c1c1;
	left: -230px;
}
#footer p{
	position: relative;
	display: inline;
	padding-top: 60px;
	padding-left: 60px;
}
#contactinfo{
	position: absolute;
	top:60px;
	left:380px;
}

#change {
	position: absolute;
	top: 10px;
	left: 266px;
}

#graph_over {
	position: absolute;
	top: 170px;
	left: 150px;
	z-index: 1;
}
#info_text{
	position: absolute;
	top: 400px;
	left: 60px;
	z-index: 1;
}
#AU {
	position: absolute;
	visibility: hidden;
	left:20px;
}
#RU {
	position: absolute;
	visibility: hidden;
	left:20px;
}
#CN {
	position: absolute;
	visibility: hidden;
	left:20px;
}
#US {
	position: absolute;
	visibility: hidden;
	left:20px;
}
.infotitle {
	padding-left: 200px;
}